<div class="well">
  <%= link_to posted.user.profile.fullname, user_timeline_path(posted.user) %> commented on <%= posted.parent_user.profile.fullname %>s <%= posted.commentable_type.downcase %>
</div>