<div class = "col-sm-6">
  <div class = "row" id = "friend">
    <div class = "col-sm-3">
      <img src = "assets/user_silhouette_generic.gif" id = "friend-img">
    </div>
    <div class = "col-sm-5">
      <br />
      <%= link_to friend.profile.fullname, user_timeline_path(friend), id: "friend-name" %>
      <p id = "friend-amount"><%= friend.friended_users.count %> friends</p>
    </div>
    <div class = "col-sm-4">
      <br />
      <% if @current_user.users_friended_by.include?(friend) %>
        <%= link_to "Unfriend Me", friending_path(friend), method: :delete, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to "Delete Invite", friending_path(friend), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
