<% present(friend, FriendPresenter) do |friend_presenter| %>
<div class = "col-sm-6">
  <div class = "row" id = "friend">
    <div class = "col-sm-3">
      <img src = "https://unsplash.it/90/75" id = "friend-img">
    </div>
    <div class = "col-sm-5">
      <br />
      <%= link_to friend_presenter.fullname, user_timeline_path(friend), id: "friend-name" %>
      <p id = "friend-amount"><%= friend_presenter.friend_count %> friends</p>
    </div>
    <div class = "col-sm-4">
      <br />
      <%= friend_presenter.friend_button %>
    </div>
  </div>
</div>
<% end %>
