// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_nav {


  /* Nav Content CSS */

  .nav-top {
    background-color: #2f63df;
    width: 100%;
    height: 50px;
  }

  .navbar-brand{
  	font-size: 20px;
  	font-family: arial;
  	color: #FFF;
  }

  .navbar-header {
  	width: 100%;
    height: 50px;
  }

  .logo {
  	margin-top: 1px;
  	padding: 0 0 0 0;
  	border-radius: 50%;
  	width: 45px;
  	height: 45px;
  }

  .navbar-right{
  	margin-right: 50px;
  	margin-top: 7px;
  	font-size: 16px;
  	font-family: arial;
  	color: #FFF;
  }

  .navbar-form{
  	margin-left: 25px;
  }
  #top-contain {
  	width: 100%;
  }

  #top-search {
  	margin-left: 25px;
  	width: 60%;
  }

  #user {
  	font-size: 12px;
  	font-family: arial;
  	color: #000;

  }








  /* Profile Header Content CSS */

   #jumbotron-img {
      position: absolute;
      height: 400px;
      width: 100%;
      top: -22px;
      right: 0px;
      left: 0px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
   }

   #pictures {
   }

   #user-img {
      position: relative;
      box-shadow: 0 1px 12px rgba(0,0,0,0.1);
      height: 225px;
      background-color: #fff;
   }
  #content-menu{
  	z-index: 1;
  	width: 80%;
  }

  #edit-profile {
  	font-size: 16px;
  }


   #top-content {
   	width: 100%;
   }

  .nav-justified {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .nav-justified > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: #777;
    text-align: center;
    background-color: #e5e5e5; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x; /* Repeat the gradient */
    border-bottom: 1px solid #d5d5d5;
  }
  .nav-justified > .active > a,
  .nav-justified > .active > a:hover,
  .nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
            box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
  }
  .nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
  }
  .nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
  }

  @media (min-width: 768px) {
    .nav-justified {
      max-height: 52px;
    }
    .nav-justified > li > a {
      border-right: 1px solid #d5d5d5;
      border-left: 1px solid #fff;
    }
    .nav-justified > li:first-child > a {
      border-left: 0;
      border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
      border-right: 0;
      border-radius: 0 5px 5px 0;
    }
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
  }








  /* About/Edit-Profile Content CSS */

  #main-header {
  	background-color: #e5e5e5;
  	border: 1px solid lightgrey;
  	height: 50px;
  	width: 100%;
  	padding-bottom: 0px;
  }

  #about-heading {
  	margin-top: -10px;
  	margin-left: 45%;
  	width: 10%;
  	font-family: arial;
  }

  #main-content {
  	margin-top: -15px;
  	border: 1px solid lightgrey;
  	height: 500px;
  }

  #about-form {
  	line-height: 24px;
  }







  /* Friend Content CSS */

  .btn-primary {
    letter-spacing: 1.3px;
  }

  #friend {
  	margin: 4px 5px 4px 5px;
  	border: 1px solid lightgrey;
  }

  #friend-img {
  	margin: 5px 5px 5px 0px;
  	height: 100px;
  	width: 100px;
  }

  #friend-amount {
  	color:#777;
  }

  #friend-name {
  	font-size: 18px;
  }






  /* Photo Content CSS */

  #photo-header {
    margin-top: 5px;
    text-align: center;
  }

  #add-photo {
    margin-left: 55px;
    margin-top: 9px;
  }

  #photo {
    padding-top: 20px;
  }

  #photo-content{
    margin-top: -15px;
    border: 1px solid;
  }

  #photo-img {
  height: 230px;
  width: 230px;
  opacity: 1;

  }

  #photo-overlay {

    opacity: 0;
    width:230px;
    color: #fff;

  }

  #photo:hover #photo-overlay {
    background-color: #000;
    opacity: 0.5;

  }

  #photo:hover #photo-img {
    background-color: #000;
    opacity: 0.7;

  }


}
